---
---

<aside class="grid gap-4 text-astro-gray-200">
	<h2 class="heading-4 text-astro-gray-100 lg:heading-3">Best Practices</h2>
	<p>What we look for when reviewing submissions:</p>
	<ul class="grid list-disc gap-2 pl-8">
		<li>Direct link to the subscribtion</li>
		<li>Avoid paid weeklies</li>
		<li>Prefer weeklies in english</li>
	</ul>
</aside>
