---
import type { CollectionEntry } from "astro:content"

export type Props = {
	weekly: CollectionEntry<"weeklies">
}

const { weekly } = Astro.props
---

<div class="flex items-center gap-2">
	<img
		class="size-6 rounded-full"
		src={weekly.data.author.avatar}
		alt=""
		width="48"
		height="48"
		loading="lazy"
		decoding="async"
	/>
	<span class="overflow-hidden text-ellipsis">
		{weekly.data.author.name}
	</span>
</div>
