---
import CatalogSubmitCallout, {
	type Props as CalloutProps,
} from "~/components/CatalogSubmitCallout.astro"

export type Props = Omit<CalloutProps, "slot" | "title" | "cta">

const { ...attrs } = Astro.props
---

<CatalogSubmitCallout
	title="Submit a weekly"
	cta={{ href: "/weeklies/submit", text: "Submit weekly" }}
	{...attrs}
>
	Anyone can submit a weekly to weeklies.dev. If you have questions about building your own weekly,
	join our community on <a class="link link-underline" href="/chat">Discord</a>!
</CatalogSubmitCallout>
