@font-face {
	font-family: "IBMPlexMono";
	src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Light.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway Wide";
	src: url("/fonts/Raleway-SemiBold.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
	font-stretch: wider;
	font-display: swap;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: ibm-plex-fallback;
	src: local("Courier New");
	line-gap-override: 7%;
}

@font-face {
	font-family: raleway-regular-fallback;
	src: local("Verdana");
	size-adjust: 112%;
	line-gap-override: 19%;
}

@font-face {
	font-family: raleway-wide-fallback;
	src: local("Arial Black");
	size-adjust: 134%;
	ascent-override: 96%;
	descent-override: 27%;
}
